{% extends "@Interim/Default/layout.html.twig" %}

{% block content %}
    <h1>Creation d'un nouvel interim</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-primary"/>
    {{ form_end(form) }}

{% endblock %}
