{% extends "@Interim/Default/layout.html.twig" %}

{%  block content %}
    <div>
        Bienvenue dans cette application permettant de gérer des intérimaires et leurs contract.<br/>
        Si vous avez la moindre question à propos du code, n'hésitez pas à me contacter au 07.60.28.66.10 ou
        à l'adresse mail : guevara.gabrielle@yahoo.fr.<br/>
    </div>
{%  endblock %}